div {
  margin: 2vh;
  display: inline;
  padding-left: 3vh;
  padding-right: 3vh;
}
.app-header {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
.home-button {
  text-align: left;
  float: left;
}
.dashboard {
  text-align: right;
  float: right;
}
