div {
    text-align: left;
    margin: 20px;
    display:inline;
}

img {
    max-width: 45px;
    max-height: 45px;
    text-align: right;
}

.elemDiv {
    margin-top: 10px;
}

.app-header {
    font-size: 22px;
    margin: 20px;
}

.imgDiv {
    float: right;
}