@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Ubuntu';
        src: url(fonts/Ubuntu-Regular.woff2) format('woff2');
    }
    body {
        background-color: #122e17;
        color: #b2d3a0;
        font-family: 'Ubuntu';
    }
}